[submodule "deliveroo"]
	path = deliveroo
	url = git@github.com:bandomatteo/Deliveroo.git
	branch = main
[submodule "deliveroo-agent"]
	path = deliveroo-agent
	url = https://github.com/bandomatteo/Deliveroo
	branch = main
[submodule "NLU-unitn-2025"]
	path = NLU-unitn-2025
	url = https://github.com/Nathanoj02/NLU-unitn-2025
	branch = main
[submodule "giraffe-robot"]
	path = giraffe-robot
	url = https://github.com/Nathanoj02/giraffe-robot
[submodule "GPU-Computing-2025-256178"]
	path = GPU-Computing-2025-256178
	url = https://github.com/Nathanoj02/GPU-Computing-2025-256178
	branch = main
[submodule "internship-multi-gpu"]
	path = internship-multi-gpu
	url = git@github.com:Nathanoj02/internship-multi-gpu.git
