[submodule "deliveroo"]
	path = deliveroo
	url = git@github.com:bandomatteo/Deliveroo.git
[submodule "deliveroo-agent"]
	path = deliveroo-agent
	url = https://github.com/bandomatteo/Deliveroo
[submodule "NLU-unitn-2025"]
	path = NLU-unitn-2025
	url = https://github.com/Nathanoj02/NLU-unitn-2025
[submodule "giraffe-robot"]
	path = giraffe-robot
	url = https://github.com/Nathanoj02/giraffe-robot
